
   

<!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <select id="sort-menu" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                        <option data-display="Select">Nothing</option>
                                        <option value="1">High Price → Low Price</option>
                                        <option value="2">Low Price → High Price</option>
								    </select>
                                </div>
                                <p>Showing all {{perPage}} products</p>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        {{#products}}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="new">New</p>
                                                    </div>
                                                    <img src="{{image}}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="/products/{{_id}}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="/products/add-to-cart/{{_id}}">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>{{name}}</h4>
                                                    <h5> ${{price}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {{/products}}
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                     {{#products}}
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        <img src="{{image}}" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="/products/{{_id}}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text">
                                                    <h3 class="font-weight-bold">{{name}}</h3>
                                                    <h5> ${{price}}</h5>
                                                    <p>{{description}}</p>
                                                    <a class="btn hvr-hover btn-center" href="/products/add-to-cart/{{_id}}">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                     {{/products}}                        
                                </div>
                            </div>
                        </div>
                    </div>

                    <span class="product-pagination">
            
                    </span>
                </div>
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <input class="form-control" placeholder="Search here..." type="text" id="search-box" />
                                {{!-- <button type="submit"> <i class="fa fa-search"></i> </button> --}}
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">Trái cây & Rau củ <small class="text-muted">({{totalProducts}})</small>
								</a>
                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="/products/vegetables" class="list-group-item list-group-item-action">Rau củ <small class="text-muted">({{totalVegetables}})</small></a>
                                            <a href="/products/fruits" class="list-group-item list-group-item-action">Trái cây <small class="text-muted">({{totalFruits}})</small></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">Vegetables 
								<small class="text-muted">(50)</small>
								</a>
                                    <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action">Vegetables 1 <small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Vegetables 2 <small class="text-muted">(20)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Vegetables 3 <small class="text-muted">(20)</small></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="list-group-item list-group-item-action"> Grocery  <small class="text-muted">(150) </small></a>
                                <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(11)</small></a>
                                <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(22)</small></a>
                            </div>
                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <div id="slider-range"></div>
                                <p>
                                    <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                    <button class="btn hvr-hover" type="submit">Filter</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Shop Page -->

   
    <script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/jquery.nicescroll.min.js"></script>

    <script>
         $(function() {
            $('.price-box-slider button').on('click', function() {
                  const valueString = $('#amount').val().split('-');
                  const start = parseInt(valueString[0].slice(1));
                  const end = parseInt(valueString[1].slice(2));

                  $.getJSON(`/products/api/filter-products/${start}&${end}`, function(products) {
                    apiLink =  `/products/api/filter-products/${start}&${end}`;
                    pageIndex = 1;

                    $.getJSON(apiLink, function(products) { 
                        
                        // Render pagination
                        const pageCurrent = parseInt($('.current').text());
                        const pages = Math.ceil(products.length / perPage);
                        $('.product-pagination').empty();
                        if(pageIndex == -1)
                            pageIndex =  pageCurrent > 1 ? pageCurrent - 1 : 1;
                        else if(pageIndex == 0)
                                pageIndex = pageCurrent <  pages ? pageCurrent + 1 : pages;
                        $('.product-pagination').append(`<a onClick="changePage('${apiLink}', -1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>`);
                        for(let i = 1; i < pages + 1; i++)
                            $('.product-pagination').append(`<a onClick="changePage('${apiLink}', this.innerText)">${i}</a>`);
                        $('.product-pagination').append(`<a onClick="changePage('${apiLink}', 0)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>`);
                        
                        // Add class to current page
                        let start = (pageIndex - 1) * perPage;
                        let end = pageIndex * perPage;
                        products = products.slice(start, end);
                        const pageList = $('.product-pagination a');
                        Array.from(pageList).forEach(function(page){
                            page.classList.remove('current');
                        })
                        pageList[pageIndex].classList.add('current');
                        // Render products
                        $('#grid-view .row').empty();
                        $('#list-view').empty();
                        $('.product-item-filter p').text(`Showing all ${products.length} products`);
                        products.forEach(function(product) {
                            $('#grid-view .row').append(`<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                            <div class="products-single fix">
                                                                <div class="box-img-hover">
                                                                    <div class="type-lb">
                                                                        <p class="new">New</p>
                                                                    </div>
                                                                    <img src="${product.image}" class="img-fluid" alt="Image">
                                                                    <div class="mask-icon">
                                                                        <ul>
                                                                            <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                        </ul>
                                                                        <a class="cart" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                                    </div>
                                                                    </div>
                                                                        <div class="why-text">
                                                                            <h4>${product.name}</h4>
                                                                            <h5>$${product.price}</h5>
                                                                        </div>
                                                                    </div>
                                                        </div>`);
                            const shortDescription = `${product.description.substr(0, 550)}...`;
                            $('#list-view').append(`<div class="list-view-box">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                                <div class="products-single fix">
                                                                    <div class="box-img-hover">
                                                                        <div class="type-lb">
                                                                            <p class="new">New</p>
                                                                        </div>
                                                                        <img src="${product.image}" class="img-fluid" alt="Image">
                                                                        <div class="mask-icon">
                                                                            <ul>
                                                                                <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                                <div class="why-text">
                                                                        <h4>${product.name}</h4>
                                                                        <h5>$${product.price}</h5>
                                                                        <p>${shortDescription}</p>
                                                                        <a class="btn hvr-hover btn-center" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`);
                            })
                        })

                        $('#sort-menu').on('change', function() {
                            const type = this.value;
                            let pos ;
                            let check;

                            // Check API Link
                            check = apiLink.search('-sortDesc');
                            if(check !== -1)
                                apiLink = apiLink.slice(0, check) + apiLink.slice(check + 9);  

                            check = apiLink.search('-sortAsc');
                            if(check !== -1)
                                apiLink = apiLink.slice(0, check) + apiLink.slice(check + 8); 

                            switch (type) {
                                case '2': {
                                    pos = apiLink.search('-products')   
                                    apiLink = apiLink.slice(0, pos) + '-sortAsc' + apiLink.slice(pos);
                                }; break;
                                case '1': {
                                    pos = apiLink.search('-products')    
                                    apiLink = apiLink.slice(0, pos) + '-sortDesc' + apiLink.slice(pos);
                                }; break;
                                case 'Nothing': {
                                    apiLink = apiLink;
                                }; break;
                            }

                            $.getJSON(apiLink, function(products) { 
                                // Render pagination
                                const pageCurrent = parseInt($('.current').text());
                                const pages = Math.ceil(products.length / perPage);
                                $('.product-pagination').empty();
                                if(pageIndex == -1)
                                    pageIndex =  pageCurrent > 1 ? pageCurrent - 1 : 1;
                                else if(pageIndex == 0)
                                        pageIndex = pageCurrent <  pages ? pageCurrent + 1 : pages;
                                $('.product-pagination').append(`<a onClick="changePage('${apiLink}', -1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>`);
                                for(let i = 1; i < pages + 1; i++)
                                    $('.product-pagination').append(`<a onClick="changePage('${apiLink}', this.innerText)">${i}</a>`);
                                $('.product-pagination').append(`<a onClick="changePage('${apiLink}', 0)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>`);
                                // Add class to current page
                                let start = (pageIndex - 1) * perPage;
                                let end = pageIndex * perPage;
                                products = products.slice(start, end);
                                const pageList = $('.product-pagination a');
                                Array.from(pageList).forEach(function(page){
                                    page.classList.remove('current');
                                })
                                pageList[pageIndex].classList.add('current');
                                // Render products
                                $('#grid-view .row').empty();
                                $('#list-view').empty();
                                $('.product-item-filter p').text(`Showing all ${products.length} products`);
                                products.forEach(function(product) {
                                    $('#grid-view .row').append(`<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                                    <div class="products-single fix">
                                                                        <div class="box-img-hover">
                                                                            <div class="type-lb">
                                                                                <p class="new">New</p>
                                                                            </div>
                                                                            <img src="${product.image}" class="img-fluid" alt="Image">
                                                                            <div class="mask-icon">
                                                                                <ul>
                                                                                    <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                                </ul>
                                                                                <a class="cart" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                                            </div>
                                                                            </div>
                                                                                <div class="why-text">
                                                                                    <h4>${product.name}</h4>
                                                                                    <h5>$${product.price}</h5>
                                                                                </div>
                                                                            </div>
                                                                </div>`);
                                    const shortDescription = `${product.description.substr(0, 550)}...`;
                                    $('#list-view').append(`<div class="list-view-box">
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                                        <div class="products-single fix">
                                                                            <div class="box-img-hover">
                                                                                <div class="type-lb">
                                                                                    <p class="new">New</p>
                                                                                </div>
                                                                                <img src="${product.image}" class="img-fluid" alt="Image">
                                                                                <div class="mask-icon">
                                                                                    <ul>
                                                                                        <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                                        <div class="why-text">
                                                                                <h4>${product.name}</h4>
                                                                                <h5>$${product.price}</h5>
                                                                                <p>${shortDescription}</p>
                                                                                <a class="btn hvr-hover btn-center" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>`);
                                })
                            })
                        });       
                })
            })
        })
    </script>

    <script>
        $(function() {
            $('#search-box').on('input', function(){
                const value = this.value || 'all';

                $.getJSON(`/products/api/search-products/${value}`, function(products) {
                    apiLink =  `/products/api/search-products/${value}`;
                    pageIndex = 1;

                    $.getJSON(apiLink, function(products) { 
                        // Render pagination
                        const pageCurrent = parseInt($('.current').text());
                        const pages = Math.ceil(products.length / perPage);
                        $('.product-pagination').empty();
                        if(pageIndex == -1)
                            pageIndex =  pageCurrent > 1 ? pageCurrent - 1 : 1;
                        else if(pageIndex == 0)
                                pageIndex = pageCurrent <  pages ? pageCurrent + 1 : pages;
                        $('.product-pagination').append(`<a onClick="changePage('${apiLink}', -1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>`);
                        for(let i = 1; i < pages + 1; i++)
                            $('.product-pagination').append(`<a onClick="changePage('${apiLink}', this.innerText)">${i}</a>`);
                        $('.product-pagination').append(`<a onClick="changePage('${apiLink}', 0)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>`);
                       
                        // Add class to current page
                        let start = (pageIndex - 1) * perPage;
                        let end = pageIndex * perPage;
                        products = products.slice(start, end);
                        const pageList = $('.product-pagination a');
                        Array.from(pageList).forEach(function(page){
                            page.classList.remove('current');
                        })
                        pageList[pageIndex].classList.add('current');
                        
                        // Render products
                        $('#grid-view .row').empty();
                        $('#list-view').empty();
                        $('.product-item-filter p').text(`Showing all ${products.length} products`);
                        products.forEach(function(product) {
                            $('#grid-view .row').append(`<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                            <div class="products-single fix">
                                                                <div class="box-img-hover">
                                                                    <div class="type-lb">
                                                                        <p class="new">New</p>
                                                                    </div>
                                                                    <img src="${product.image}" class="img-fluid" alt="Image">
                                                                    <div class="mask-icon">
                                                                        <ul>
                                                                            <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                        </ul>
                                                                        <a class="cart" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                                    </div>
                                                                    </div>
                                                                        <div class="why-text">
                                                                            <h4>${product.name}</h4>
                                                                            <h5>$${product.price}</h5>
                                                                        </div>
                                                                    </div>
                                                        </div>`);
                            const shortDescription = `${product.description.substr(0, 550)}...`;
                            $('#list-view').append(`<div class="list-view-box">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                                <div class="products-single fix">
                                                                    <div class="box-img-hover">
                                                                        <div class="type-lb">
                                                                            <p class="new">New</p>
                                                                        </div>
                                                                        <img src="${product.image}" class="img-fluid" alt="Image">
                                                                        <div class="mask-icon">
                                                                            <ul>
                                                                                <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                                <div class="why-text">
                                                                        <h4>${product.name}</h4>
                                                                        <h5>$${product.price}</h5>
                                                                        <p>${shortDescription}</p>
                                                                        <a class="btn hvr-hover btn-center" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`);
                            })
                        })

                        $('#sort-menu').on('change', function() {
                        const type = this.value;
                        let pos ;
                        let check;
                        
                        // Check API Link
                        check = apiLink.search('-sortDesc');
                        if(check !== -1)
                            apiLink = apiLink.slice(0, check) + apiLink.slice(check + 9);  

                        check = apiLink.search('-sortAsc');
                        if(check !== -1)
                            apiLink = apiLink.slice(0, check) + apiLink.slice(check + 8);

                        switch (type) {
                            case '2': {
                                pos = apiLink.search('-products')   
                                apiLink = apiLink.slice(0, pos) + '-sortAsc' + apiLink.slice(pos);
                            }; break;
                            case '1': {
                                pos = apiLink.search('-products')    
                                apiLink = apiLink.slice(0, pos) + '-sortDesc' + apiLink.slice(pos);
                            }; break;
                            case 'Nothing': {
                                apiLink = apiLink;
                            }; break;
                        }

                    $.getJSON(apiLink, function(products) { 
                        // Render pagination
                        const pageCurrent = parseInt($('.current').text());
                        const pages = Math.ceil(products.length / perPage);
                        $('.product-pagination').empty();
                        if(pageIndex == -1)
                            pageIndex =  pageCurrent > 1 ? pageCurrent - 1 : 1;
                        else if(pageIndex == 0)
                                pageIndex = pageCurrent <  pages ? pageCurrent + 1 : pages;
                        $('.product-pagination').append(`<a onClick="changePage('${apiLink}', -1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>`);
                        for(let i = 1; i < pages + 1; i++)
                            $('.product-pagination').append(`<a onClick="changePage('${apiLink}', this.innerText)">${i}</a>`);
                        $('.product-pagination').append(`<a onClick="changePage('${apiLink}', 0)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>`);
                        // Add class to current page
                        let start = (pageIndex - 1) * perPage;
                        let end = pageIndex * perPage;
                        products = products.slice(start, end);
                        const pageList = $('.product-pagination a');
                        Array.from(pageList).forEach(function(page){
                            page.classList.remove('current');
                        })
                        pageList[pageIndex].classList.add('current');
                        // Render products
                        $('#grid-view .row').empty();
                        $('#list-view').empty();
                        $('.product-item-filter p').text(`Showing all ${products.length} products`);
                        products.forEach(function(product) {
                            $('#grid-view .row').append(`<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                            <div class="products-single fix">
                                                                <div class="box-img-hover">
                                                                    <div class="type-lb">
                                                                        <p class="new">New</p>
                                                                    </div>
                                                                    <img src="${product.image}" class="img-fluid" alt="Image">
                                                                    <div class="mask-icon">
                                                                        <ul>
                                                                            <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                        </ul>
                                                                        <a class="cart" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                                    </div>
                                                                    </div>
                                                                        <div class="why-text">
                                                                            <h4>${product.name}</h4>
                                                                            <h5>$${product.price}</h5>
                                                                        </div>
                                                                    </div>
                                                        </div>`);
                            const shortDescription = `${product.description.substr(0, 550)}...`;
                            $('#list-view').append(`<div class="list-view-box">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                                <div class="products-single fix">
                                                                    <div class="box-img-hover">
                                                                        <div class="type-lb">
                                                                            <p class="new">New</p>
                                                                        </div>
                                                                        <img src="${product.image}" class="img-fluid" alt="Image">
                                                                        <div class="mask-icon">
                                                                            <ul>
                                                                                <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                                <div class="why-text">
                                                                        <h4>${product.name}</h4>
                                                                        <h5>$${product.price}</h5>
                                                                        <p>${shortDescription}</p>
                                                                        <a class="btn hvr-hover btn-center" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`);
                            })
                        })   
                    })
                });
            })
        })
    </script>

    <script>
        const perPage = 9;

        function changePage(apiLink, pageIndex) {
             console.log(apiLink)
             $.getJSON(apiLink, function(products) { 
                 // Render pagination
                 const pageCurrent = parseInt($('.current').text());
                 const pages = Math.ceil(products.length / perPage);
                 $('.product-pagination').empty();
                 if(pageIndex == -1)
                     pageIndex =  pageCurrent > 1 ? pageCurrent - 1 : 1;
                 else if(pageIndex == 0)
                         pageIndex = pageCurrent <  pages ? pageCurrent + 1 : pages;
                 $('.product-pagination').append(`<a onClick="changePage('${apiLink}', -1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>`);
                 for(let i = 1; i < pages + 1; i++)
                     $('.product-pagination').append(`<a onClick="changePage('${apiLink}', this.innerText)">${i}</a>`);
                 $('.product-pagination').append(`<a onClick="changePage('${apiLink}', 0)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>`);
                 
                 // Add class to current page
                 let start = (pageIndex - 1) * perPage;
                 let end = pageIndex * perPage;
                 products = products.slice(start, end);
                 const pageList = $('.product-pagination a');
                 Array.from(pageList).forEach(function(page){
                     page.classList.remove('current');
                 })
                 pageList[pageIndex].classList.add('current');
                 // Render products
                 $('#grid-view .row').empty();
                 $('#list-view').empty();
                 $('.product-item-filter p').text(`Showing all ${products.length} products`);
                 products.forEach(function(product) {
                     $('#grid-view .row').append(`<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                     <div class="products-single fix">
                                                         <div class="box-img-hover">
                                                             <div class="type-lb">
                                                                 <p class="new">New</p>
                                                             </div>
                                                             <img src="${product.image}" class="img-fluid" alt="Image">
                                                             <div class="mask-icon">
                                                                 <ul>
                                                                     <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                     <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                     <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                 </ul>
                                                                 <a class="cart" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                             </div>
                                                             </div>
                                                                 <div class="why-text">
                                                                     <h4>${product.name}</h4>
                                                                     <h5>$${product.price}</h5>
                                                                 </div>
                                                             </div>
                                                 </div>`);
                     const shortDescription = `${product.description.substr(0, 550)}...`;
                     $('#list-view').append(`<div class="list-view-box">
                                                 <div class="row">
                                                     <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                         <div class="products-single fix">
                                                             <div class="box-img-hover">
                                                                 <div class="type-lb">
                                                                     <p class="new">New</p>
                                                                 </div>
                                                                 <img src="${product.image}" class="img-fluid" alt="Image">
                                                                 <div class="mask-icon">
                                                                     <ul>
                                                                         <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                         <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                         <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                     </ul>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                         <div class="why-text">
                                                                 <h4>${product.name}</h4>
                                                                 <h5>$${product.price}</h5>
                                                                 <p>${shortDescription}</p>
                                                                 <a class="btn hvr-hover btn-center" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>`);
                    })
                })

                $('#sort-menu').on('change', function() {
                const type = this.value;
                let pos ;
                let check;
                 // Check API Link
                check = apiLink.search('-sortDesc');
                if(check !== -1)
                    apiLink = apiLink.slice(0, check) + apiLink.slice(check + 9); 
                check = apiLink.search('-sortAsc');
                if(check !== -1)
                    apiLink = apiLink.slice(0, check) + apiLink.slice(check + 8);

                switch (type) {
                    case '2': {
                        pos = apiLink.search('-products')   
                        apiLink = apiLink.slice(0, pos) + '-sortAsc' + apiLink.slice(pos);
                    }; break;
                    case '1': {
                        pos = apiLink.search('-products')    
                        apiLink = apiLink.slice(0, pos) + '-sortDesc' + apiLink.slice(pos);
                    }; break;
                    case 'Nothing': {
                        apiLink = apiLink;
                    }; break;
                }
                
                 pageIndex = 1;

                $.getJSON(apiLink, function(products) { 
                    // Render pagination
                    const pageCurrent = parseInt($('.current').text());
                    const pages = Math.ceil(products.length / perPage);
                    $('.product-pagination').empty();
                    if(pageIndex == -1)
                        pageIndex =  pageCurrent > 1 ? pageCurrent - 1 : 1;
                    else if(pageIndex == 0)
                            pageIndex = pageCurrent <  pages ? pageCurrent + 1 : pages;
                    $('.product-pagination').append(`<a onClick="changePage('${apiLink}', -1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>`);
                    for(let i = 1; i < pages + 1; i++)
                        $('.product-pagination').append(`<a onClick="changePage('${apiLink}', this.innerText)">${i}</a>`);
                    $('.product-pagination').append(`<a onClick="changePage('${apiLink}', 0)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>`);
                    // Add class to current page
                    let start = (pageIndex - 1) * perPage;
                    let end = pageIndex * perPage;
                    products = products.slice(start, end);
                    const pageList = $('.product-pagination a');
                    Array.from(pageList).forEach(function(page){
                        page.classList.remove('current');
                    })
                    pageList[pageIndex].classList.add('current');
                    // Render products
                    $('#grid-view .row').empty();
                    $('#list-view').empty();
                    $('.product-item-filter p').text(`Showing all ${products.length} products`);
                    products.forEach(function(product) {
                        $('#grid-view .row').append(`<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                        <div class="products-single fix">
                                                            <div class="box-img-hover">
                                                                <div class="type-lb">
                                                                    <p class="new">New</p>
                                                                </div>
                                                                <img src="${product.image}" class="img-fluid" alt="Image">
                                                                <div class="mask-icon">
                                                                    <ul>
                                                                        <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                    </ul>
                                                                    <a class="cart" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                                </div>
                                                                </div>
                                                                    <div class="why-text">
                                                                        <h4>${product.name}</h4>
                                                                        <h5>$${product.price}</h5>
                                                                    </div>
                                                                </div>
                                                    </div>`);
                        const shortDescription = `${product.description.substr(0, 550)}...`;
                        $('#list-view').append(`<div class="list-view-box">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                            <div class="products-single fix">
                                                                <div class="box-img-hover">
                                                                    <div class="type-lb">
                                                                        <p class="new">New</p>
                                                                    </div>
                                                                    <img src="${product.image}" class="img-fluid" alt="Image">
                                                                    <div class="mask-icon">
                                                                        <ul>
                                                                            <li><a href="/products/${product._id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                            <div class="why-text">
                                                                    <h4>${product.name}</h4>
                                                                    <h5>$${product.price}</h5>
                                                                    <p>${shortDescription}</p>
                                                                    <a class="btn hvr-hover btn-center" href="/products/add-to-cart/${product._id}">Add to Cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>`);
                    })
                })
                
            })
        }
    </script>